
<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
  <title>네이버 책/회원가입</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="join_header"><a href="/" class="naver_span">Naver</a></div>
<div class="join_container">
<form action="", method="POST">
    <input type="text", placeholder="아이디...">
    <input type="password", placeholder="비밀번호...">
    <input type="password", placeholder="비밀번호 재입력...">
    <input type="submit", value="회원가입">
</form>

</div>
<div class="footer">
    <span id="footer_text"><a href="/" class="naver_span">Naver<a>&copy; 2020</span>
</div>
</body>