
<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
  <title>네이버 책/검색</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="header"> <div class="header_logo"><a href="/" class="naver_span">Naver</a><span>책</span></div>
    <form action="/search", method="GET">
        {% csrf_token %}
        <input type="text", placeholder="검색..", name="searching">
        <input type="submit", value="검색">
    </form>
    {% if 0 %}
    <a href="/login" id="login">로그인</a>
    {% else %}
    <ul>
        <li><a href="/me" id="login">프로필</a></li>
        <li><a href="/logout" id="login">로그아웃</a></li>
    </ul>
    {% endif %}
   </div>
<div class="search_container">
    <div> "{{searching}}" 에 대한 검색결과.</div>
    {% for book in books%}
    <ul>
    <img src="{{book.image.url}}" alt="" class="book_image">
    <li>{{book.name}}</li>
    <li>{{book.author}}</li>
    <li>{{book.genre}}</li>
    <li>{{book.grade}}</li>
    <li>{{book.date}}</li>
    <li>{{book.area}}</li>
    <li>{{book.description}}</li>
    </ul>
    {% endfor %}
    
</div>
<div class="footer">
    <span id="footer_text"><a href="/" class="naver_span">Naver<a>&copy; 2020</span>
</div>
</body>